.pagelayout-login {

  #page {
    background-image: url("https://institutocelebra.com.br/wp-content/uploads/2024/06/2749.jpg");
    background-size: cover;
    background-position: center;
  }

  .login-container {
    margin: auto;
    max-width: 420px;
    border-radius: 12px;
  }
}
