<div class="poster" onclick="location.href='/course/view.php?id={{id}}'">
  <img src="{{image}}" alt="{{fullname}}">
  <div class="meta">
    <h3>{{fullname}}</h3>
    <div class="progress">
      <i style="width:{{progress}}%"></i>
    </div>
  </div>
</div>
